@font-face {
    font-family: 'SUITE-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'SUITE-Regular';
}

button{
    border: 0;
    background-color: transparent;
}

.container {
    width: 850px;
    margin-top: 50px;
}
.swiper-container {
    width: 100%; /* 부모 요소의 크기를 따름 */
    height: auto;
}
.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}
.swiper-slide-active {
    justify-content: center;
}
.slide-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
}
.slide-content span {
    margin-right: 10px;
}
.slide-content img {
    width: 50px;
    margin-right: 10px;
}