<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/clock.css}">
</head>
<body>
<div>
    <div style="display: flex; justify-content: center; align-items: center;">

        <div style="display: flex; justify-content: center; align-items: center;">
            <div class="clock">
                <div class="hour-mark">
                    <span class="hour-num">1</span>
                </div>
                <div class="hour-mark">
                    <span class="hour-num">2</span>
                </div>
                <div class="hour-mark">
                    <span class="hour-num">3</span>
                </div>
                <div class="hour-mark">
                    <span class="hour-num">4</span>
                </div>
                <div class="hour-mark">
                    <span class="hour-num">5</span>
                </div>
                <div class="hour-mark">
                    <span class="hour-num">6</span>
                </div>
                <div class="hour-mark">
                    <span class="hour-num">7</span>
                </div>
                <div class="hour-mark">
                    <span class="hour-num">8</span>
                </div>
                <div class="hour-mark">
                    <span class="hour-num">9</span>
                </div>
                <div class="hour-mark">
                    <span class="hour-num">10</span>
                </div>
                <div class="hour-mark">
                    <span class="hour-num">11</span>
                </div>
                <div class="hour-mark">
                    <span class="hour-num">12</span>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
